/* Set some basic styles for the entire page */
html {
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  line-height: 1.5;
}

body {
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(18,12,32,1) 100%);
  margin: 0;
  padding: 0;
  color: #f7f7f7;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

/* Header */
header {
  background: rgb(18,12,32);
  background: linear-gradient(90deg, rgba(18,12,32,1) 0%, rgba(238,174,202,1) 100%);
  opacity: 0.5;
  color: #fffdfd;
  padding: 1rem;
}

header h1 {
  margin: 0;
}

/* Basic Detail Section */
.basic-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.basic-detail__image-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 2rem;
}

.basic-detail__image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.basic-detail__info {
  flex: 1;
}

.basic-detail__info p {
  margin: 0;
}

.basic-detail__info strong {
  font-weight: bold;
}

/* Brief Bio Section */
.brief-bio {
  padding: 2rem;
  color: aliceblue;
}

.brief-bio h2 {
  margin-top: 0;
}

/* Education Details Section */
.education-details {
  padding: 2rem;
}

.education-details__item {
  margin-bottom: 2rem;
}

.education-details__item h3 {
  margin-top: 0;
}

.education-details__item ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.education-details__item li {
  margin-bottom: 0.5rem;
}

.education-details__item li span {
  font-weight: bold;
  margin-right: 0.5rem;
}

/* Contact Section */
.contact {
  padding: 2rem;
}

.contact form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.contact label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  padding: 0.5rem;
  border: 1px solid #455e9c;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.contact textarea {
  height: 10rem;
}

.contact button[type="submit"] {
  background-color: #9d8080;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.contact button[type="submit"]:hover {
  background-color: #444;
}

  button {
    width: fit-content;
    min-width: 100px;
    height: 45px;
    padding: 8px;
    border-radius: 5px;
    border: 2.5px solid #E0E1E4;
    box-shadow: 0px 0px 20px -20px;
    cursor: pointer;
    background-color: white;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
  }
  
  button:hover {
    background-color: #3b2626;
    box-shadow: 0px 0px 20px -18px;
  }
  
  button:active {
    transform: scale(0.95);
  }
  /* Navigation styles */
nav {
  background: rgba(0, 0, 0, 0.248);
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav li a {
  color: #fff;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

/* Aside styles */
aside {
  background: rgb(18,12,32);
  background: linear-gradient(0deg, rgba(18,12,32,1) 34%, rgba(238,174,202,1) 100%);
    padding: 20px;
  margin-top: 20px;
}

aside h2 {
  margin-top: 0;
}

aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

aside li {
  margin-bottom: 10px;
}

aside li a {
  color: #cbbebe;
  text-decoration: none;
}

aside li a:hover {
  text-decoration: none;
  background-color: #474a54;
}
.skills {
  padding: 50px 0;
}

.skills h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 50px;
}

.skill-item {
  margin-bottom: 25px;
}

.skill-item h3 {
  margin-bottom: 10px;
}

progress {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  -webkit-appearance: none;
  appearance: none;
}

progress::-webkit-progress-bar {
  background-color: #f5f5f5;
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background-color: #3498db;
  border-radius: 10px;
}

progress::-moz-progress-bar {
  background-color: #3498db;
  border-radius: 10px;
}
/* for project section*/
.projects {  padding: 50px 0;
}

.projects h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 50px;
}

.project-item {
  margin-bottom: 50px;
}

.project-item h3 {
  margin-bottom: 10px;
}

.project-item p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.project-item img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
